@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');


body {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #212529;
    color: #fff;
    /* font-size: 2em; */
    /* padding: 50px; */
    margin: 20px;
    font-family: "Open Sans", Arial, sans-serif;
}

#answers button {
    color: #fff;
    position: relative;
    display: inline-block;
    font-family: "Open Sans", Arial, sans-serif;
    border: lightblue 2px solid;
    background: inherit;
    border-radius: 3px;
    margin: 10px;
}

#answers button:focus {
    background: lightblue;
    border: #000 2px solid;
    color: #000;
}

.hidden {
    display: none;
}